<!DOCTYPE html>
<html lang="en">


    <head>
        <link rel="shortcut icon" type="image/jpg" href="images/favicon.png"/>

        <link rel="stylesheet" href="stylesheets/style_game.css">
        <link rel="stylesheet" href="stylesheets/style_options.css">
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Delta Chess</title>
    </head>

    <body>


        <main>

            <div class="rowlayout">

                <div class="column_left column">

                    <div id="statistics">
                        <p class="para">
                            Games drawn : <%= gamesDrawn %>
                        </p>
                        <p class="para">
                            Total player count: <%= totalPlayerCount %>
                        </p>
                        <p class="para">
                            Total match count: <%= totalMatchCount %>
                        </p>
                    </div>
                </div>

                <div id="board" class="column_middle column">
                </div>

                <div class="column_right column">
                    <div id="options">

                    </div>
                </div>
            </div>


        </main>

        <footer id="footer">
            <div id="blinkme" class="blink_me">
                <p> </p>
                <center> Waiting for an opponent... </center>
                <p></p>
            </div>

            <a id="gamedesc">
                <center> This is a self-capturing variation of chess. It works like normal chess, with the addition of
                    the ability to capture your own pieces. </center>
            </a>
        </footer>

        <script src="javascripts/funct.js"></script>
        <script src="javascripts/setup.js"></script>
        

    </body>

</html>